In [ ]:
# Data Science Academy (DSA) - wwww.datascienceacademy.com.br
# Course:  Python Fundamentos para Análise de Dados (PT-BR)
#          Python Fundamentals to Data Analysis (ENG-US)
# Student: Leonardo Travagini Delboni
# Chapter 2 - Variables, Types and Data Structures

In [10]:
print('Credits: \n  Created by Data Science Academy (DSA) \n  Developed by Leonardo Travagini Delboni')

Credits:
  Created by Data Science Academy (DSA)
  Developed by Leonardo Travagini Delboni

In [8]:
# Exercise 1: Print all numbers from 1 to 10. Use a list to save the numbers.
aux1 = 1
aux2 = []
while aux1 < 11:
    aux2.append(aux1)
    aux1 = aux1 + 1
print(aux2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# Exercise 2: Create a 5-objects list and print it.

aux1 = 1
aux2 = []
while aux1 < 6:
    # Receiving the 5 objects from the terminal input:
    aux2.append(input('Please, insert an object to the list: \n'))
    aux1 = aux1 + 1
print('Thank you very much. Here is your list:')
print(aux2)

Please, insert an object to the list:
1
Please, insert an object to the list:
2
Please, insert an object to the list:
3
Please, insert an object to the list:
4
Please, insert an object to the list:
5
Thank you very much. Here is your list:
['1', '2', '3', '4', '5']

In [15]:
# Exercise 3 - Create 2 strings and concatenate them as third string:

# Receiving the first string from the terminal:
str1 = input('Please, insert the first string: \n')
# Receiving the second string from the terminal:
str2 = input('Please, insert the second string: \n')
# Concatenating both as a third one:
str3 = str1 + ' ' + str2
print(str3)

Please, insert the first string:
My Lord is
Please, insert the second string:
Jesus Christ
My Lord is Jesus Christ

In [17]:
# Exercise 4 - Create a tuple with the following elements: 1, 2, 2, 3, 4, 4, 4, 5 and then use the tuple
# object function to check how many times the number 4 appears.

# Creating the tuple:
tuple1 = (1, 2, 2, 3, 4, 4, 4, 5)
# Counting the element '4':
quantity = tuple1.count(4)
print(quantity)

3

In [18]:
# Exercise 5 - Create an empty dictionary and print it.

# Creating an empty dictionary:
dict1 = {}
print(dict1)

{}

In [22]:
# Exercise 6 - Create a 3-keys and 3-values dictionaty and print it.

# Creating 3-keys and 3-values dictionaty:
dict1 = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
print(dict1)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [23]:
# Exercise 7 - Add one more element to the previous created dictionay and print it.

dict1['key4'] = 'value4'
print(dict1)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [24]:
# Exercise 8 - Create a 3-keys and 3-values dictionaty. One of the values must be a 2-items list. Print it.

list1 = ['item1', 'item2']
dict1 = {'key1':'value1', 'key2':'value2', 'key3':list1}
print(dict1)

{'key1': 'value1', 'key2': 'value2', 'key3': ['item1', 'item2']}

In [25]:
# Exercise 9 - Create a list of 4 elements. The first element must be a string, the second must be a 2
# elements tuple, the third must be a dictionary of 2 keys and 2 values, and the forth element must a float.
# Then, print it.

# Creating the elements:
elem1 = 'string'                                 # String
elem2 = (1 ,0)                                   # Tuple of 2 elements
elem3 = {'key1':'value1', 'key2':'value2'}       # Dictionary of 2 keys and 2 values
elem4 = float(3.40834)                           # Float number

# Creating and printing the final list:
list1 = [elem1, elem2, elem3, elem4]
print(list1)

['string', (1, 0), {'key1': 'value1', 'key2': 'value2'}, 3.40834]

In [26]:
# Exercise 10 - Considering the following string:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
# Print on the screen only the characters located from the position 1 to 18.

# Applying the slicing method:
str1 = frase[1:18]
print(str1)

ientista de Dados

In [27]:
print('Thank you very much!')

Thank you very much!